<div *ngIf="submitted;else results" class="main-results">
  
  <form name="form-search" (submit)="onSubmit()">
    <input class="input-search" name="input-search" [(ngModel)]="value" type="search" placeholder="Search..."/>
    
  </form>
  <hr>
</div>

<ng-template #results>
  <div class="main">
    <form name="form-search" (submit)="onSubmit()">
      <input class="input-search" name="input-search" [(ngModel)]="value" type="search" placeholder="Search..." autocomplete="additional-name" autofocus/>
    </form>
  </div>
</ng-template>
